@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Lato";
    max-width: 100%;
}

/* Shared styles */

.section-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgba(39, 39, 39, 1);
}


.btn-primary {
    font-size: 1.25rem;
    padding: 20px 43px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(229, 84, 115, 1);
    border: none;
    border-radius: 8px;
}


.section-description {
    font-size: 1.125rem;
    color: rgba(39, 39, 39, 0.6);
    line-height: 1.67;
}

.display-grid {
    display: grid;
}


/* Header style */

header {
    background-color: rgba(229, 84, 115, 0.1);
}

.banner {
    grid-template-columns: 1.5fr 1fr;
    gap: 96px;
    align-items: center;
    justify-content: center;
    margin-bottom: 180px;
}

.banner-description {
    max-width: 708px;
    margin-left: 120px;
}

.banner-title {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 32px;
}

.section-description {
    margin-bottom: 32px;
}




/* Device below 576px */

@media screen and (max-width: 576px) {
    html {
        font-size: 60%;
    }
    
    .banner {
        grid-template-columns: 1fr;
    }

    .banner-description {
        margin: 8px;
    }

    .banner-image img {
        width: 100%;
    }
}


/* Device within 576px and 768px */

@media screen and (min-width: 576px) and (max-width: 768px) {
    html {
        font-size: 75%;
    }

    .banner {
        grid-template-columns: 1fr;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-description {
        margin: 16px;
    }

    .banner-image img {
        width: 100%;
    }
}


/* Device within 768px and 992px */

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 90%;
    }

    .banner {
        grid-template-columns: 1fr .75fr;
    }

    .banner-description {
        margin: 16px;
    }

    .banner-image img {
        width: 100%;
        position: relative;
        bottom: -30px;
    }
}


/* device within 992px and 1200px */

@media screen and (min-width: 992px) and (max-width:1200px) {
    
}

