@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Lato";
    max-width: 1440px;
}

/* Shared styles */

.section-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgba(39, 39, 39, 1);
}


.btn-primary {
    font-size: 1.25rem;
    padding: 20px 43px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(229, 84, 115, 1);
    border: none;
    border-radius: 8px;
}


.section-description {
    font-size: 1.125rem;
    color: rgba(39, 39, 39, 0.6);
    line-height: 1.67;
}

.display-flex {
    display: flex;
}


/* Header style */

.banner {
    align-items: center;
    justify-content: center;
    gap: 97px;
    background-color: rgba(229, 84, 115, 0.1);
    margin-bottom: 100px;
    padding: 16px 16px 0 0;
}

.banner-description {
    max-width: 50%;
    padding-left: 120px;
}


.banner-title {
    font-size: 5rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 32px;
}

.section-description {
    margin-bottom: 32px;
}

.banner-image img {
    width: 100%;
}



/* Extra Small device (less than) 576px */

@media screen and (max-width: 576px) {
    html {
        font-size: 62.5%;
    }

    .banner {
        flex-direction: column;
        padding: 8px 8px 0 8px;
    }

    .banner-description {
        padding-left: 0;
        max-width: 100%;
    }
}


/* For Small devices 576px - 992px */

@media screen and (min-width:576px) and (max-width: 768px) {
    html {
        font-size: 75%;
    }
    .banner {
        flex-direction: column;
        justify-content: center;
        padding: 8px 8px 0 8px;
    }
    .banner-description {
        padding-left: 8px;
        max-width: 100%;
    }
    
}


/* For medium size device  768px - 992px*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .banner {
        flex-direction: column;
        justify-content: center;
        padding: 8px 8px 0 8px;
    }
    .banner-title {
        font-size: 3rem;
    }

    .banner-description {
        padding-left: 0;
    }
}

